@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: rgba(13, 4, 4, 0.781);
  color: #fff;
  height: 100vh;
  background: url("img/wallpaperbetter\ \(4\).jpg");
  background-size: cover;
}

.Header {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
}

.container {
  width: 300px;
}

.title {
  font-size: 3rem;
  color: rgba(20, 32, 208, 0.692);
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

.main_title {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 3rem 0;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.input {
  background-color: transparent;
  color: tomato;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid tomato;
  width: 100%;
  font-size: 1rem;
}

.button {
  padding: 5px;
  cursor: pointer;
  background-color: rgba(255, 99, 71, 0.773);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
}

.button:hover {
  background-color: tomato;
}

.name {
  font-size: 28px;
  color: tomato;
}

.temp {
  font-size: 4rem;
  font-family: cursive;
}

.temp_min-max {
  font-size: 18px;
  font-family: cursive;
}

.temp_min {
  color: rgba(255, 255, 255, 0.544);
}

.icon {
  width: 8rem;
}

.condition {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 1rem;
}

.date {
  color: rgba(255, 255, 255, 0.544);
}

.content {
  background-color: rgb(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 2rem;
}

.gif {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
